* {
  padding: 0;
  margin: 0;
}

.wrapper {
     font-family: 'Roboto', sans-serif;
     position: relative;
     overflow-x: hidden;
     line-height: 1.6;

  padding: 10px;
  border-bottom: 1px solid lightgray;
}






